.robo-hand-left {
  width: 30px;
  height: 30px;
  background-color: #444;
  position: absolute;
  left: -37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border: 2px solid #222;
  border-radius: 4px;
  transition: top 0.4s ease; /* mesma duração do braço */
  /*transition: transform 0.5s ease-in-out; animação para mao girar, so funciona se tirar a outra transition*/
}

/* Altura conforme contração do braço */
.robo-hand-left.relaxed { top: 172px; }
.robo-hand-left.slight  { top: 152px; }
.robo-hand-left.medium  { top: 132px; }
.robo-hand-left.strong  { top: 112px; }

/* ROTAÇÃO */
.deg--90 { transform: rotate(-90deg); }
.deg--45 { transform: rotate(-45deg); }
.deg-0   { transform: rotate(0deg); }
.deg-45  { transform: rotate(45deg); }
.deg-90  { transform: rotate(90deg); }
.deg-135 { transform: rotate(135deg); }
.deg-180 { transform: rotate(180deg); }

.finger {
  width: 6px;
  height: 15px;
  background-color: #333;
  border-radius: 2px;
}
