.robo-arm-left {
  width: 30px;
  height: 80px;
  background-color: #666;
  border-radius: 10px;
  position: absolute;
  left: -35px;
  top: 5px;
  box-shadow: inset 0 0 5px #000;
}

.robo-arm-left2 {
  width: 30px;
  background-color: #666;
  border-radius: 10px;
  position: absolute;
  left: -35px;
  box-shadow: inset 0 0 5px #000;
  transition: height 0.4s ease;
}

.relaxed {
  height: 80px;
  top: 90px;
}

.slight {
  height: 60px;
  top: 90px;
}

.medium {
  height: 40px;
  top: 90px;
}

.strong {
  height: 20px;
  top: 90px;
}

