<div class="controls">
    <div>
      <p>Rotação Horizontal:</p>
      <button (click)="setHorizontal('left-max')">-90°</button>
      <button (click)="setHorizontal('left-mid')">-45°</button>
      <button (click)="setHorizontal('center')">0°</button>
      <button (click)="setHorizontal('right-mid')">45°</button>
      <button (click)="setHorizontal('right-max')">90°</button>
    </div>
  
    <div>
      <p>Inclinação Vertical:</p>
      <button (click)="setVertical('up')">Para cima</button>
      <button (click)="setVertical('neutral')">Repouso</button>
      <button (click)="setVertical('down')">Para baixo</button>
    </div>
  </div>
  